.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.dashboard header {
  flex-shrink: 0;
}


.content {
  flex: 1;
  display: flex;
}

.content main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.content aside {
  flex-shrink: 0;
  width: 250px;
}
