.containerPrimario {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.tituloLogin {
  text-align: center;
  color: var(--info);
}

.formContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  color: var(--info);
  width: 300px;
}

.formContainer input {
  border-bottom: 2px solid #323232;
  color: var(--info);
  padding: 4px 4px 4px 25px;
  font-size: 1rem;
  border-bottom: 1px solid var(--info);
  border-top: none;
  border-left: none;
  border-right: none;
  display: flex;
  width: 100%;
}

.formContainer input::placeholder {
  color: var(--info);
}

.formContainer input:focus {
  outline: none;
}

.formContainer label {
  font-size: 0.9rem;
  text-align: left;
  margin-top: 20px;
  display: flex;
  width: 100%;
  padding: 0.5rem;
  color: var(--info);
}

.icons {
  color: var(--info);
  display: flex;
  align-items: center;

  width: 100%;
}
.icons svg {
  margin-right: -18px;
position: absolute;
  background-color: transparent;
  z-index: 5;
}

.enviarLogin {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  color: var(--white);
  background-color: var(--info);
  cursor: pointer;
  width: 50%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enviarLogin:hover {
  background-color: var(--hover);
  color: var(--white);
}

.erroLogin{
  background-color:var(--bg-danger) ;
  padding: 10px;
  border-radius: 5px;
  border:solid 1px var(--danger);
  color: var(--danger);
  font-size: 0.8rem;
  margin-top: 10px;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
